services:
  stt:
    build: ./stt
    env_file: .env
    volumes:
      - ./models/whisper_models:/app/models/whisper_models
    ports:
      - "3000:3000"
    # --- AJOUT INDISPENSABLE POUR LE GPU ---
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    # ---------------------------------------
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 5s
      timeout: 2s
      retries: 10

  bot:
    build: ./bot
    env_file: .env
    depends_on:
      stt:
        condition: service_healthy